@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: var(---cor-background);
}

:root {
  ---cor-background: #f3f5fc;
  ---cor-primaria-button: #0a3871;
  ---cor-secudaria-button: #d8dfe8;
}

@media (max-width: 800px) {
  main{
    flex-direction: column;
    gap: 4rem;
  }


  .criptografador {
    width: 80% !important;
    padding-top: 5rem !important;
    align-self: center;
    box-sizing: border-box;
  }


  .texto{
    width: 80% !important;
    align-self: center;
    margin-bottom: 1rem;

    img{
      display: none;
    }
  }

}

@media (max-width: 500px){

  .rodape{
    font-size: 16px !important;
  }
}


main {
  background-color: var(---cor-background);
  display: flex;
  justify-content: space-evenly;  
}

.header {
  font-size: 32px;
  font-family: "Inter";
  font-weight: 400;
  padding-top: 2.25rem;
}

.criptografador {
  width: 40%;
  font-size: 32px;
  font-family: "Inter";
  font-weight: 400;
  padding-top: 10.5rem;
  box-sizing: border-box;

}

.criptografador__botoes {
  font-size: 12px;
  font-family: "Inter";
  font-weight: 400;
  
  p {
    display: flex;
    align-items: center;
    gap: 8px;

    padding-top: 10px;
    padding-bottom: 16px;
  }

  .botoes {
    display: flex;
    align-items: center;
    gap: 24px;

    button {
      width: 328px;
      height: 67px;
      border-radius: 24px ;
    }

    .criptografar {
      background-color: var(---cor-primaria-button);
      color: white;
    }
    .descriptografar {
      background-color: var(---cor-secudaria-button);
      color: var(---cor-primaria-button);
      
    }
  }
}

.criptografador__input {
  
  textarea {
    color: var(---cor-primaria-button);
    width: 100%;
    font-size: 36px;
    font-family: "Inter";
    font-weight: 400;
    background-color: transparent;
    border: none;
    resize: none;
  }
}


.texto {

  background-color: white;
  width: 30%;
  border-radius: 2.5rem;
  margin-top: 20px;
  font-size: 32px;
  font-family: "Inter";
  font-weight: 400;
  box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
  padding-top: 2rem;

  
  
}

.texto__inicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  background-color: transparent ;
  justify-content: center;
  align-items: center;

  h2{
    
      background-color: transparent ;
      font-size: 24px;
      color: #343A40;
  
  }
  p{
    background-color: transparent ;
      font-size: 16px;
      color: #495057;
     
  }
  img{
    background-color: transparent ;
  }
}

.texto__resultado{

  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 70vh;
  align-items: center;
  

 
  .texto__resultado__paragrafo{
      background-color: white;
      color: #495057;
      font-size: 24px;

  }

  .texto__resultado__botao{ 
      width: 50%;
      height: 3rem;
      margin-bottom: 1.5rem;
      border-radius: 24px ;
      background-color: transparent;
      color: #0a3871; 
    
 
  }
}

.rodape{

  font-size: 24px;
  font-family: "Inter";
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  height: 15vh;
  background-color: #0a3871;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h3{
    margin-top: 1rem;
    background-color: transparent;
  }
  a{
    background-color: transparent;
  }
 
}

.icones{
  background-color: transparent;

  img{
    background-color: transparent;
  }
}